.guitar {
  display: flex;
  width: 300px;
  height: 600px;
  border-right: solid 1px black;
  flex-direction: column;
  position: relative;
  background: linear-gradient(315deg, #b88018, transparent);
}

@media screen and (max-width: 600px) {
  .guitar {
    position: absolute;
    background: linear-gradient(315deg, #b88018, black);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
  }
}
