.noteDropdownItem {
  display: flex;
  height: 18.4px;

  position: relative;
  align-items: center;
  justify-content: center;

  sup {
    position: relative;
    top: -5px;
  }

  &__current {
    color: goldenrod;
  }

  &__border {
    position: absolute;
    border: solid black 1px;
    height: 100%;
    width: 100%;
  }
}
