.tuningKeys {
  display: flex;
  height: 126px;
  width: 163px;
  justify-content: space-between;
  position: absolute;
  top: 72.4px;
  left: 65.8px;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
