.stringsPanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
  height: 290px;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 15px;
  padding: 0 0 10px;

  &__mobileToggle {
    display: none;
    width: 270px;
    height: 25px;
    justify-content: center;
    align-items: center;
    color: #fff8ef;
    background: black;
    font-family: cursive;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 800;
  }
}

@media screen and (max-width: 600px) {
  .stringsPanel {
    justify-content: flex-start;
    z-index: 1000;
    max-height: 235px;
    gap: 5px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 525px;
    transition: top ease 500ms;
    background: linear-gradient(130deg, #74afd4, #b88018);
    border: outset #fff8ef 3px;

    &__mobileActive {
      top: 310px;
      overflow: unset;
    }

    &__mobileToggle {
      display: flex;
    }
  }
}
