.stringsPanel {
  margin: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
  height: 300px;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 15px;
  padding: 0;
}
