.tuningDropdownItem {
  display: block;
  min-width: 96px;
  border-radius: 5px;
  border: solid 2px transparent;
  color: skyblue;
  cursor: pointer;

  &:hover {
    background: linear-gradient(155deg, #8d6213, #302207);
    border-color: #714e0f;
  }

  &__active {
    color: goldenrod;
  }

  &__stickyToggle {
    box-sizing: border-box;
    margin-right: 5px;
    &__active {
      color: violet;
    }
  }
}
