.guitarNeck {
  position: absolute;
  top: 300px;
  left: 0px;
  width: 300px;
  height: 300px;
  background-image: url(~/src/assets/images/guitar/GuitarNeck_Frame.svg);
}

@media screen and (max-width: 600px) {
  .guitarNeck {
    top: 360px;
  }
}
