.guitarContainer {
  display: flex;
  width: 600px;
  height: 600px;
  border: solid 1px black;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .guitarContainer {
    position: relative;
    width: 300px;
  }
}
