.muteButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 45px;
  background: #ab8d1b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: double 5px skyblue;
  padding: 0;

  &__iconContainer {
    height: 30px;
    width: 30px;
  }

  &__active {
    border-color: #cc0600;
  }

  &__inactive {
  }
}
