.tuningKey {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;

  &__left {
    background-image: url(~/src/assets/images/guitar/TuningKeyLeft.svg);
  }

  &__right {
    background-image: url(~/src/assets/images/guitar/TuningKeyRight.svg);
  }
}
