.volumeSlider {
  height: 40px;
  width: 80px;
  background: #98670c;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: outset #fff8ef 3px;

  &__sliderContainer {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: center;
    width: 60px;
    border-left: 2px solid grey;
    border-right: 2px solid grey;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      border-top: 1px solid black;
      background: black;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  &__sliderPointer {
    position: relative;
    top: 4px;
    background: linear-gradient(#000, #000) no-repeat center/2px 100%;
    height: 14px;
    width: 2px;
  }

  &__iconsContainer {
    display: flex;
    justify-content: space-between;
    height: 45%;
    width: 90%;
    margin-left: 3px;

    & img {
      height: 15px;
      width: 15px;
    }
  }
}
