.volumeSlider {
  height: 40px;
  width: 40px;
  background: #98670c;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: skyblue;
  border-style: outset;

  &__text {
    font-size: 30px;
  }

  &__active {
    background: #302207;
    color: #708d92;
    border-style: inset;
  }
}
