.tuningKeyClickBox {
  height: 26px;
  width: 24px;
  position: absolute;
  cursor: grab;

  &__left {
    left: -2px;
  }

  &__right {
    left: 140px;
  }

  &:first-child {
    top: 0px;
  }
  &:nth-child(2) {
    top: 50px;
  }
  &:nth-child(3) {
    top: 100px;
  }
}
