.helpOverlay {
  position: absolute;
  height: 600px;
  width: 600px;
  z-index: 1000;

  &__active {
    visibility: visible;
  }

  &__inactive {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .helpOverlay {
    width: 300px;
  }
}
