.topOptionsPanel {
  display: flex;
  height: 215px;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 600px) {
  .topOptionsPanel {
    position: absolute;
    align-items: flex-start;
    top: 65px;
    width: 100%;
  }
}
