.tuningDropdown {
  display: flex;
  justify-content: center;

  &__container {
    height: 160px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: linear-gradient(335deg, #8d6213, #302207);
    border: outset #fff8ef 3px;
    transition: max-height 500ms cubic-bezier(0.4, -1, 0.54, -0.08) 0ms;
    overflow: hidden;
    padding: 0;
    border-radius: 10px;
    z-index: 10;

    &__active {
      max-height: 180px;
      width: 200px;
    }

    &__inactive {
      max-height: 22px;
      justify-content: center;
    }

    > div {
      width: 100%;
    }
  }

  &__dropdown {
    height: 160px;
    display: flex;
    flex-flow: column wrap;
    padding: 2px 4px;
    border-radius: 10px;
  }

  &__text {
    color: #fff8ef;
    position: absolute;
    top: 25px;
    font-size: 34px;
    font-weight: 600;
    font-family: cursive;
  }
}

@media screen and (max-width: 600px) {
  .tuningDropdown {
    &__text {
      display: none;
    }

    &__dropdown {
      padding-top: 4px;
    }

    &__container {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &__inactive {
        border-radius: 0;
        width: 200px;
        max-height: 21px;
        justify-content: center;
        align-items: center;
        color: #fff8ef;
        border: outset #fff8ef 3px;
        margin-top: 0;
      }
    }
  }
}
