.stringLabel {
  width: 22px;
  height: 22px;
  border: dotted 2px beige;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  cursor: pointer;

  &:active {
    color: black;
    background: beige;
    border-color: black;
  }
}
