.noteContainer {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 29px;

  color: paleturquoise;
  font-size: 19px;
  font-weight: 600;

  &__noteDropdown {
    border-radius: 10px;
    cursor: pointer;
    width: 20px;
  }
}
