.noteContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 29px;

  color: paleturquoise;

  &__noteDropdown {
    border-radius: 10px;
    cursor: pointer;
    width: 20px;
  }
}
