.stringsPanelItem {
  display: flex;
  width: 100%;
  text-align: start;
  align-items: center;
  justify-content: space-between;

  &__frequency {
    width: 150px;
    padding-top: 1px;
  }
}

@media screen and (max-width: 600px) {
  .stringsPanelItem {
    width: 95%;
  }
}
