.stringsPanelItem {
  display: flex;
  width: 100%;
  text-align: start;
  align-items: center;
  justify-content: space-between;

  &__stringID {
    width: 20px;
  }
  &__frequency {
    width: 150px;
  }
  &__note {
    width: 30px;
  }
}
