.stringsPanelItem {
  display: flex;
  gap: 20px;
  text-align: start;
  align-items: center;

  &__stringID {
    width: 20px;
  }
  &__frequency {
    width: 150px;
  }
  &__note {
    width: 30px;
  }
}
