.headString {
  position: absolute;
  object-fit: cover;

  &__1 {
    height: 116px;
    width: 2.7px;
    top: 100px;
  }
  &__2 {
    height: 165.7px;
    width: 2.4px;
    top: 50px;
    left: 6.5px;
    transform: skewX(5deg);
  }
  &__3 {
    height: 215.6px;
    width: 2px;
    top: 0px;
    left: 13px;
    transform: skewX(7deg);
  }
  &__4 {
    height: 215.6px;
    width: 1.6px;
    top: 0px;
    right: 13px;
    transform: skewX(-7deg);
  }
  &__5 {
    height: 165.7px;
    width: 1.3px;
    top: 50px;
    right: 6.5px;
    transform: skewX(-5deg);
  }
  &__6 {
    height: 116px;
    width: 1px;
    top: 100px;
    left: 65px;
    transform: skewX(-2deg);
  }
}

//safari only backfill
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .headString {
      object-fit: none;
    }
  }
}
