.resetPanel {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  background: black;
  border: outset antiquewhite 5px;
  font-family: cursive;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 800;

  &:active {
    border-style: inset;
    border-color: rgb(86, 86, 86);
    background: rgb(60, 60, 60);
    color: turquoise;
  }
}
