.optionsPanel {
  display: flex;
  height: 48px;
  margin: 0 14px;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px 0 0;

  &__optionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .optionsPanel {
    z-index: 1000;
  }
}
