.tuningPosts {
  display: flex;
  height: 120px;
  width: 92px;
  justify-content: space-between;
  position: relative;
  top: 75px;
  left: 101.5px;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
