.guitarHead {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .guitarHead {
    touch-action: none;
    top: 60px;
  }
}
