.userInterface {
  width: 300px;
  height: 590px;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #74afd4, #b8801891);
}

@media screen and (max-width: 600px) {
  .userInterface {
    height: 591px;
    justify-content: space-between;
  }
}
